#!/bin/bash

BATRASIO_PSS_RUNNING=$(ps aux | grep -v chk_batrasio | grep -v grep | grep -c 'batrasio')
if [ ${BATRASIO_PSS_RUNNING} -lt 2 ];
then
    # batrasio is not running, therefore I exit with ERROR status and
    # keepalived will stop sending broadcast packets so the other node
    # will take over the service IP
    echo "Batrasio not running" >&2
    exit 1
fi
